 <div class="card">
                    <div class="card-header">
                        <a class="titleLink" href={{link}} target="_blank">{{title}}</a>
                    </div>
</div>
{{!-- not clear if this was just a formatting error --}}


{{!-- <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
  this was from a snippit shared yesterday --}}